* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #24252A;
    color: ivory;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    padding-left: 20px;
    cursor: pointer;
    font-size: 28px;
}

.nav_links {
    padding-right: 20px;
}

.nav_links li {
    color: ivory;
    display: inline;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}

.nav_links li:hover {
    background-color: #0088a9;
}

.home,
.about,
.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.home_icon img {
    width: 40px;
}

.home_image,
.home_icon,
.home_data {
    padding: 0px 20px 0px 20px;
}

.home_image img {
    border-radius: 20px;
    width: 250px;
}

.skill_page_heading {
    padding: 90px 0px 60px 0px;
    text-align: center;
}

.skill_page_content {
    display: flex;
    justify-content: center;

    gap: 10vw;
}

.skill_type_header {
    display: flex;
    justify-content: space-between;
    width: 17vw;
}

.skill_type_header img {
    width: 30px;
    height: 30px;
}

.skill_type_content {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
    transition: all .5s;
    width: 16vw;
    align-items: center;
}

.closed {
    height: 0;
    overflow: hidden;
}

.skill_type_list {
    width: 15vw;
}

.skill_type_head {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.skill_bar,
.skill_type_bar {
    height: 5px;
    border-radius: 3px;
}

.skill_type_bar {
    background-color: ivory;
}

.skill_bar {
    background-color: #0088a9;
    width: 90%;
}

.c_lang {
    width: 90%;
}

.java_lang {
    width: 80%;
}

.python_lang {
    width: 80%;
}

.flutter {
    width: 10%;
}